/* Your app styles here */
table {
    border-collapse: collapse;
    /*margin:5px;*/
    /*word-wrap:break-word;*/
}
th{
    border: 1px solid black;
    background-color: lightblue;
    font-weight: lighter;
    padding: 0 5px 0 5px;
}
td{
    border: 1px solid black;
    padding: 0 5px 0 5px;
    /*overflow: hidden;*/
    word-wrap:break-word;
    /*white-space:pre-wrap;*/
}
tfoot td{
    border: 1px solid black;
    background-color: lightblue;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    text-align:center;
}
.clickedTableRow{
    background-color:#cfd5da;
}
#login-button-div{
    text-align: center;
}
.text-centered{
    text-align: center;
}
.text-right{
    text-align: right;
}
.blue-text{
    color:darkblue;
}
.md .toolbar {
    /*height: 96px;*/
}
.md .list .item-content,
.md .list .item-inner {
    min-height:32px;
}
.md .list .item-inner {
    padding-top:4px;
    padding-bottom:4px;
}
.md .data-table td,
.md .data-table th{
    padding-left:5px;padding-right:5px;
}
.md .data-table th{
    text-align: center;
}
.md .data-table td.label-cell,
.md .data-table th.label-cell{
    padding-left:5px;padding-right:5px
}
.md .data-table td:first-child,
.md .data-table th:first-child{
    padding-left:5px
}
.md .data-table td:last-child,
.md .data-table th:last-child{
    padding-right:5px
}
.data-table td.text-centered{
    text-align: center;
}