/* Your app styles here */
table {
    border-collapse: collapse;
    /*margin:5px;*/
    /*word-wrap:break-word;*/
}
th{
    border: 1px solid black;
    background-color: lightblue;
    font-weight: lighter;
    padding: 0 5px 0 5px;
}
td{
    border: 1px solid black;
    padding: 0 5px 0 5px;
    /*overflow: hidden;*/
    word-wrap:break-word;
    /*white-space:pre-wrap;*/
}
tfoot td{
    border: 1px solid black;
    background-color: lightblue;
    font-weight: bold;
    height: 42px;
    padding: 0px 5px 0px 5px;
    text-align:center;
}
#login-button-div{
    text-align: center;
}
.text-centered{
    text-align: center;
}
.text-right{
    text-align: right;
}
.tdSrcPosID{
    text-align: center;
}
.tdProdName{
    color:darkblue;
}
.tdQty{
    text-align: center;
}
.tdNewQty{
    text-align: center;
}
.tdSelectedRow{
    background-color:#cfd5da;
}
.tdSumCC{
    text-align: right;
}

.docsListStockName{
    font-size:14px;
}
.docHeaderTitle{
    font-size:16px;
}

.tableReport{
    line-height: 1.5;
    font-size: 12px;
}
.tableReportCashierSales{
    min-width:350px;
}
.tableReport th{
    text-align: center;
}
.tableReport .text-centered{
    text-align: center;
}
.tableReport .datetime-cell{
    padding-left:2px;
    padding-right:2px;
    text-align: center;
}
.tableReport .numeric-cell{
    text-align: right;
}

.md .toolbar {
    /*height: 96px;*/
}
.md .list .item-content,
.md .list .item-inner {
    min-height:32px;
}
.md .list .item-inner {
    padding-top:4px;
    padding-bottom:4px;
}
